<div id="head" class="well">
				
		<h1 id="name">VIVEK VIDHYA VIHAR SCHOOL,JALSU,JAIPUR</h1>
		<p id="nm">The Education Hut</p>
		
	 <ul class="nav nav-pills">    <!-- <ul class="nav nav-tabs"> -->
	  <li><a href="home.php">HOME</a></li>
    <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">ABOUT US <span class="caret"></span></a>
    <ul class="dropdown-menu">
         <li><a href="school_time.php">School | Office Time</a></li>       
	   <li><a href="about_school.php">About School</a></li>
        <li><a href="principal_message.php">Principal Message</a></li>
      <li><a href="for_parents.php">For Parents</a></li> 
    </ul>
   </li> 
<!--    <li class="dropdown">
	<a onclick="same_page()" class="dropdown-toggle" data-toggle="dropdown">ACHIEVEMENTS <span class="caret"></span></a>
     <ul class="dropdown-menu">
        <li><a href="academic.php">Acedemic</a></li>
        <li><a href="#">Sports</a></li>
    </ul>
    </li> -->
    <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">ACADEMIC <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="transfer-certificate.php">Transfer-Certificate</a></li>
        <li><a href="sub_combo.php">Subject Combination</a></li>
        <li><a href="#">Scholarship</a></li>
        <li><a href="seminar.php">Seminar</a></li>
        </ul>
    </li> 
    <li class="dropdown">
	<a>FACILITIES <span class="caret"></span></a>
     <ul class="dropdown-menu">
        <li><a href="transport.php">Transport</a></li>
        <li><a href="library.php">Library</a></li>
		<li><a href="lab.php">LAB</a></li>
        <li><a href="special_education.php">Special Education</a></li>
        <li><a href="safety.php">Safety</a></li>
        <li><a href="hygiene.php">Hygiene</a></li>
        </ul>
    </li> 
    <li class="dropdown">
	<a>CO-CURRICULARS <span class="caret"></span></a>
     <ul class="dropdown-menu">
      <!--  <li><a href="#">School Houses</a></li> -->
     <li><a href="excursions.php">Excursions</a></li>
        <li><a href="celebrations.php">Celebration</a></li>
        <li><a href="social_causes.php">Social Cause</a></li>
        <li><a href="student_club.php">Student clubs</a></li>
        </ul>
    </li> 
    <li class="dropdown">
	<a>INFRASTRUCTURE <span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><a href="infrastructure.php">Our Infrastructure</a></li>
        </ul>
    </li> 
    <li class="dropdown">
	<a>STUDENT ZONE <span class="caret"></span></a>
     <ul class="dropdown-menu">
        <li><a href="holidays_homework.php">Holidays Homework</a></li>
     <li><a href="student_login.php">Login</a></li>
        <li><a href="online_fee.php">ONLINE FEE</a></li>
		<li><a href="attendance.php">ATTENDANCE</a></li>
        </ul>
    </li> 
    <li class="dropdown">
	<a>INFORMATION DESK <span class="caret"></span></a>
     <ul class="dropdown-menu">
        <li><a href="feedback.php">Feedback</a></li>
     <li><a href="contact_us.php">Contact Us</a></li>
        <li><a href="school_uniform.php">School Uniform</a></li>
        <li><a href="fee_remittence.php">Fee | Remittance</a></li>
        <li><a href="faculty_dept.php">Dept. | faculty</a></li>
        <li><a href="mandatory_disclosure.php" style="width:130px">Mandatory Disclosure</a></li>
         <li><a href="faq.php">FAQ</a></li>
        </ul>
    </li>
     </ul>
  
	</div>